## [Start] Setting "playerReady" to default value of "false". **
$util.qr($context.args.input.put("playerReady", $util.defaultIfNull($ctx.args.input.playerReady, false)))
## [End] Setting "playerReady" to default value of "false". **
## [Start] Setting "player2Ready" to default value of "false". **
$util.qr($context.args.input.put("player2Ready", $util.defaultIfNull($ctx.args.input.player2Ready, false)))
## [End] Setting "player2Ready" to default value of "false". **
{}