## [Start] Setting "player1Ready" to default value of "false". **
$util.qr($context.args.input.put("player1Ready", $util.defaultIfNull($ctx.args.input.player1Ready, false)))
## [End] Setting "player1Ready" to default value of "false". **
## [Start] Setting "player2Ready" to default value of "false". **
$util.qr($context.args.input.put("player2Ready", $util.defaultIfNull($ctx.args.input.player2Ready, false)))
## [End] Setting "player2Ready" to default value of "false". **
{}