## [Start] Setting "roundNumber" to default value of "1". **
$util.qr($context.args.input.put("roundNumber", $util.defaultIfNull($ctx.args.input.roundNumber, 1)))
## [End] Setting "roundNumber" to default value of "1". **
## [Start] Setting "timeRemaining" to default value of "30". **
$util.qr($context.args.input.put("timeRemaining", $util.defaultIfNull($ctx.args.input.timeRemaining, 30)))
## [End] Setting "timeRemaining" to default value of "30". **
{}